:root{
    --bg-color-dark: #000000;
    --bg-color: #ffffff;
    --font-color: #181616;
    --font-color-white: #e6e6e6;
    --btn-bg-color: #1976ef;
    --btn-hover-color: #355de0;
    --hero-color1: #117aef;
    --hero-color2: #44cb86;
    --icon-color: #808388;
    --footer-bg-color: #eef2f5;
    --step-indicator-active: #12325c;
    --step-indicator-inactive: #808388;
    --card-checked-bg: #eef3ff;
    --result-header-color:#e5e7eb;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Inter, 'Courier New', Courier, monospace;
    color: var(--font-color);
}


/* Hero */
/*--------------*/

.hero {
    background: linear-gradient(150deg, var(--hero-color1), var(--hero-color2));
    display: grid;
    color: var(--font-color-white);
    grid-template-areas: "content"
                         "image"
                         "button";
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    padding: 1.5rem 10%;
    text-align: center;
    justify-content: center;
}

.hero-content{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: 500px;
    margin: 0 0;
}

.hero-img{
    grid-area: image;
    display: flex;
    justify-content: center;
}

.hero-img img{
    width: 100%;
    max-width: 220px;
}

.hero-button {
    grid-area: button;
}

.btn-start {
    background-color: var(--btn-bg-color);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: .3s;
    color: var(--font-color-white);
    font-size: 1rem;
    font-weight: 600;
}

.btn-start:hover{
    transform: translateY(-2px);
}

/* Benefits main */
/*--------------*/

.benefits{
    display: grid;
    grid-template-areas: "title"
                         "benefit1"
                         "benefit2"
                         "benefit3";
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 3rem 0;
}

.benefits-title{
    grid-area: title;
}

.benefits-1{
    grid-area: benefit1;
}

.benefits-2{
    grid-area: benefit2;
}

.benefits-3{
    grid-area: benefit3;
}

.card-b {
    margin: 8px 10%;
    max-width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.icon{
    font-size: 2rem;
}

/* Footer */
/*--------------*/

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0.5rem 2rem;
    background: var(--footer-bg-color);
    text-align: center;
    width: 100%;
}

.footer-options{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-options p:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* Requirements */
/*--------------*/

.container{
    width: 100%;
    max-width: 600px;
    margin:  auto;
    padding: .5rem;
    background:white;
    padding: 1.5rem;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
}

input[type="radio"],
input[type="checkbox"]{
    display:none;
}

.step{
    display:none;
}

#step1:checked ~ .step1,
#step2:checked ~ .step2,
#step3:checked ~ .step3,
#step4:checked ~ .step4{
    display: block;
}

.options input{
    display:none;
}

.options{
    display:flex;
    gap:1rem;
    margin-top:1.4rem;
}

.card{
    flex:1;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding:.8rem 1rem;
    gap: .5rem;
    border: 2px solid var(--icon-color);
    border-radius:1rem;
    text-align:center;
    cursor:pointer;
    transition:.3s;
    background:var(--bg-color);
    max-width: 180px;
}

.card svg{
    width:2rem;
    height:2rem;
    color: var(--icon-color);
}

.card img{
    width: 100%;
    max-width: 8.8rem;
    height: auto;
    object-fit: fill;
    margin: 1rem 0;
}

.card:hover{
    transform:translateY(-5px);
    border-color:var(--hero-color1);
}

#ios:checked ~ .step1 label[for="ios"]{
    border-color: var(--hero-color1);
    background: var(--card-checked-bg);
    box-shadow:0 0 15px rgba(79,124,255,.3);
}

#android:checked ~ .step1 label[for="android"]{
    border-color: var(--hero-color1);
    background: var(--card-checked-bg);
    box-shadow:0 0 15px rgba(79,124,255,.3);
}

#web:checked ~ .step1 label[for="web"]{
    border-color: var(--hero-color1);
    background: var(--card-checked-bg);
    box-shadow:0 0 15px rgba(79,124,255,.3);
}

#basic-design:checked ~ .step2 label[for="basic-design"],
#personal-design:checked ~ .step2 label[for="personal-design"],
#premium-design:checked ~ .step2 label[for="premium-design"]{
    border-color: var(--hero-color1);
    background: var(--card-checked-bg);
    box-shadow:0 0 15px rgba(79,124,255,.3);
}

.buttons{
    display:flex;
    justify-content:space-between;
}

.btn{
    display:block;
    width: 100%;
    background: var(--btn-bg-color);
    color:var(--bg-color);
    padding:.8rem 1.5rem;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
    margin-top: 1rem;
    text-align: center;
}

.btn-left{
    margin-right: .5rem;
}

.btn-right{
    margin-left: .5rem;
}

#step1:checked ~ .step1 .btn-right{
    margin-left: 0;
}

.btn:hover{
    background: var(--btn-hover-color);
}

.result{
    font-size:2.2rem;
    margin:1.8rem 0;
    color: var(--btn-bg-color);
    font-weight:bold;
}

.progress-bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    transform: translateY(0%);
}

.progress-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--step-indicator-inactive);
    transform: translateY(-50%);
    z-index: 1;
}

.step-indicator {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: var(--bg-color);
    border: 2px solid var(--step-indicator-inactive);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
    z-index: 1;
    transition: .3s;
}

#step1:checked ~ .progress-bar .step-indicator-1{
    border-color:var(--btn-bg-color);
    background:var(--btn-bg-color);
}

#step2:checked ~ .progress-bar .step-indicator-1,
#step2:checked ~ .progress-bar .step-indicator-2{
    border-color:var(--btn-bg-color);
    background:var(--btn-bg-color);
}

#step3:checked ~ .progress-bar .step-indicator-1,
#step3:checked ~ .progress-bar .step-indicator-2,
#step3:checked ~ .progress-bar .step-indicator-3{
    border-color:var(--btn-bg-color);
    background:var(--btn-bg-color);
}

#step4:checked ~ .progress-bar .step-indicator-1,
#step4:checked ~ .progress-bar .step-indicator-2,
#step4:checked ~ .progress-bar .step-indicator-3,
#step4:checked ~ .progress-bar .step-indicator-4{
    border-color:var(--btn-bg-color);
    background:var(--btn-bg-color);
}

.options-features{
    display:flex;
    flex-direction:column;
    gap:1rem;
    margin-top:2rem;
}

.options-features input{
    display:none;
}

.feature-option{
    display:flex;
    align-items:center;
    gap:1rem;
    padding:1rem 1.2rem;
    border:2px solid #d9d9d9;
    border-radius:16px;
    cursor:pointer;
    transition:.3s;
    background:white;
}

.feature-option:hover{
    border-color: var(--hero-color1);
    transform:translateY(-2px);
}

.feature-icon{
    width:50px;
    height:50px;
    min-width:50px;
    border-radius:12px;
    border:2px solid var(--icon-color);
    display:flex;
    justify-content:center;
    align-items:center;
    background:var(--bg-color);
}

.feature-icon i{
    font-size:1.2rem;
    color: var(--hero-color1);}

.feature-option p{
    font-weight:500;
}

#email:checked ~ .step3 label[for="email"],
#pay:checked ~ .step3 label[for="pay"],
#maps:checked ~ .step3 label[for="maps"],
#msn:checked ~ .step3 label[for="msn"],
#adm-web:checked ~ .step3 label[for="adm-web"]{
    border-color: var(--hero-color1);
    background: var(--card-checked-bg);
    box-shadow:0 0 15px rgba(79,124,255,.15);
}

#email:checked + .feature-option svg,
#pay:checked + .feature-option svg,
#maps:checked + .feature-option svg,
#msn:checked + .feature-option svg,
#adm-web:checked + .feature-option svg{
    color: var(--btn-bg-color);
}

.results-grid{
    display:grid;
    gap:1rem;
    margin-top:2rem;
}

.result-card{
    padding:1.5rem;
    border-radius:20px;
    background:var(--bg-color);
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.result-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.progress{
    width:100%;
    height:18px;
    background:var(--result-header-color);
    border-radius:999px;
    overflow:hidden;
}

.platform-fill,
.design-fill,
.features-fill{
    width:0%;
    height:100%;
    border-radius:999px;
    transition:.5s;
    background:linear-gradient(90deg,var(--hero-color1) ,var(--hero-color2));
}

.total-price{
    margin-top:2rem;
    text-align:center;
    font-size:2rem;
    font-weight:700;
}

#ios:checked ~ .step4 .platform-fill,
#android:checked ~ .step4 .platform-fill,
#web:checked ~ .step4 .platform-fill{
    width:33%;
}

#ios:checked ~ #android:checked ~ .step4 .platform-fill{
    width:66%;
}

#ios:checked ~ #web:checked ~ .step4 .platform-fill{
    width:66%;
}

#android:checked ~ #web:checked ~ .step4 .platform-fill{
    width:66%;
}

#ios:checked ~ #android:checked ~ #web:checked ~ .step4 .platform-fill{
    width:100%;
}

#basic-design:checked ~ .step4 .design-fill{
    width:33%;
}

#personal-design:checked ~ .step4 .design-fill{
    width: 66%;
}

#premium-design:checked ~ .step4 .design-fill{
    width:100%;
}

#email:checked ~ .step4 .features-fill,
#pay:checked ~ .step4 .features-fill,
#maps:checked ~ .step4 .features-fill,
#msn:checked ~ .step4 .features-fill,
#adm-web:checked ~ .step4 .features-fill{
    width:20%;
}

#email:checked ~ #pay:checked ~ .step4 .features-fill,
#email:checked ~ #maps:checked ~ .step4 .features-fill,
#email:checked ~ #msn:checked ~ .step4 .features-fill,
#email:checked ~ #adm-web:checked ~ .step4 .features-fill,
#pay:checked ~ #maps:checked ~ .step4 .features-fill,
#pay:checked ~ #msn:checked ~ .step4 .features-fill,
#pay:checked ~ #adm-web:checked ~ .step4 .features-fill,
#maps:checked ~ #msn:checked ~ .step4 .features-fill,
#maps:checked ~ #adm-web:checked ~ .step4 .features-fill,
#msn:checked ~ #adm-web:checked ~ .step4 .features-fill{
    width:40%;
}

#email:checked ~ #pay:checked ~ #maps:checked ~ .step4 .features-fill,
#email:checked ~ #pay:checked ~ #msn:checked ~ .step4 .features-fill,
#email:checked ~ #pay:checked ~ #adm-web:checked ~ .step4 .features-fill,
#email:checked ~ #maps:checked ~ #msn:checked ~ .step4 .features-fill,
#email:checked ~ #maps:checked ~ #adm-web:checked ~ .step4 .features-fill,
#email:checked ~ #msn:checked ~ #adm-web:checked ~ .step4 .features-fill,
#pay:checked ~ #maps:checked ~ #msn:checked ~ .step4 .features-fill,
#pay:checked ~ #maps:checked ~ #adm-web:checked ~ .step4 .features-fill,
#pay:checked ~ #msn:checked ~ #adm-web:checked ~ .step4 .features-fill,
#maps:checked ~ #msn:checked ~ #adm-web:checked ~ .step4 .features-fill{
    width:60%;
}

#email:checked ~ #pay:checked ~ #maps:checked ~ #msn:checked ~ .step4 .features-fill,
#email:checked ~ #pay:checked ~ #maps:checked ~ #adm-web:checked ~ .step4 .features-fill,
#email:checked ~ #pay:checked ~ #msn:checked ~ #adm-web:checked ~ .step4 .features-fill,
#email:checked ~ #maps:checked ~ #msn:checked ~ #adm-web:checked ~ .step4 .features-fill,
#pay:checked ~ #maps:checked ~ #msn:checked ~ #adm-web:checked ~ .step4 .features-fill{
    width:80%;
}

#email:checked ~ #pay:checked ~ #maps:checked ~ #msn:checked ~ #adm-web:checked ~ .step4 .features-fill{
    width:100%;
}

.pdf-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:.7rem;
    width:fit-content;
    margin:2rem 0 0 auto;
    padding:1rem 1.5rem;
    border-radius:12px;
    text-decoration:none;
    background:var(--btn-bg-color);
    color:var(--bg-color);
    font-weight:600;
    transition:.3s;
}

.pdf-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(0,0,0,.15);
}

.pdf-btn i{
    font-size:1.2rem;
}

.details-table{
    margin-top:2rem;
    border-radius:18px;
    overflow:hidden;
    border:1px solid #ddd;
    background:white;
}

.table-header,
.table-row{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap:1rem;
    padding:1rem 1.2rem;
    align-items:center;
}

.table-header{
    background:#f3f5f8;
    font-weight:700;
}

.table-row{
    border-top:1px solid #eee;
}

/*Tablet*/
@media (min-width: 768px){

    /* Hero */
    /*--------------*/
    
    .hero {
        display: grid;
        grid-template-areas: "content image"
                             "button image";
        gap: 0rem;
        justify-items: start;
        padding: 1.5rem 10%;
    }
    
    .hero-content{
        grid-area: content;
        padding-right: 2rem;
    }

    .hero-content h1{
        font-size: 2.5rem;
        text-align: start;
    }

    .hero-content p{
        font-size: 1.2rem;
        text-align: start;
    }
    
    .hero-button {
        grid-area: button;
    }

    .hero-img{
        grid-area: image;
        display: flex;
        justify-content: start;
    }
    
    .hero-img img{
        width: 100%;
        max-width: 400px;
    }

    /* Benefits main */
    /*--------------*/

    .benefits{
        display: grid;
        grid-template-areas: "title title title"
                             "benefit1 benefit2 benefit3";
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: 3rem 0;
    }

    /* Footer */
    /*--------------*/

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 80px;
        background: var(--footer-bg-color);
        width: 100%;
    }

    .footer-options {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        flex-direction: row;
    }
}

/* DESKTOP */
@media (min-width: 1024px){

    /* Hero */
    /*--------------*/

    .hero {
        display: grid;
        grid-template-areas: "content image"
                             "button image";
        gap: 0rem;
        justify-items: start;
        padding: 1.5rem 10%;
    }
    
    .hero-content{
        grid-area: content;
    }

    .hero-content h1{
        font-size: 2.5rem;
        text-align: start;
    }

    .hero-content p{
        font-size: 1.2rem;
        text-align: start;
    }
    
    .hero-button {
        grid-area: button;
    }

    .hero-img{
        grid-area: image;
        display: flex;
        justify-content: start;
    }
    
    .hero-img img{
        width: 100%;
        max-width: 400px;
    }

    /* Benefits main */
    /*--------------*/

    .benefits{
        display: grid;
        grid-template-areas: "title title title"
                             "benefit1 benefit2 benefit3";
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: 3rem 0;
        gap: 1rem;
    }


    /* Footer */
    /*--------------*/

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 80px;
        background: var(--footer-bg-color);
        width: 100%;
    }

    .footer-options {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
    }
}