:root{
    --bg-color-dark: #000000;
    --bg-color: #ffffff;
    --font-color: #181616;
    --font-color-white: #e6e6e6;
    --btn-bg-color: #1976ef;
    --hero-color1: #117aef;
    --hero-color2: #44cb86;
    --icon-color: #808388;
    --footer-bg-color: #eef2f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Inter, 'Courier New', Courier, monospace;
    color: var(--font-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.hero {
    background: linear-gradient(150deg, var(--hero-color1), var(--hero-color2));
    display: grid;
    color: var(--font-color-white);
    grid-template-areas: "content"
                         "image"
                         "button";
    gap: 0.5rem;
    align-items: center;
    width: 100%;
    min-height: 50vh;
    padding: 1.5rem 10%;
    text-align: center;
    justify-content: center;
}

.hero-content{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: 500px;
    margin: 0 0;
}

.hero-img{
    grid-area: image;
    display: flex;
    justify-content: center;
}

.hero-img img{
    width: 100%;
    max-width: 220px;
}

.hero-button {
    grid-area: button;
}

.btn-start {
    background-color: var(--btn-bg-color);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: .3s;
    color: var(--font-color-white);
    font-size: 1rem;
    font-weight: 600;
}

.btn-start:hover{
    transform: translateY(-2px);
}

.benefits{
    display: grid;
    grid-template-areas: "title"
                         "benefit1"
                         "benefit2"
                         "benefit3";
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 3% 0;
}

.benefits-title{
    grid-area: title;
}

.benefits-1{
    grid-area: benefit1;
}

.benefits-2{
    grid-area: benefit2;
}

.benefits-3{
    grid-area: benefit3;
}

.card-b {
    margin: 8px 10%;
    max-width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.icon{
    font-size: 2rem;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0.5rem 2rem;
    background: var(--footer-bg-color);
    text-align: center;
}

.footer-options{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-options p:hover{
    text-decoration: underline;
    cursor: pointer;
}

/*Tablet*/
@media (min-width: 768px){
    .hero {
        display: grid;
        grid-template-areas: "content image"
                             "button image";
        gap: 0rem;
        justify-items: start;
        min-height: 50vh;
        padding: 1.5rem 10%;
    }
    
    .hero-content{
        grid-area: content;
        padding-right: 2rem;
    }

    .hero-content h1{
        font-size: 2.5rem;
        text-align: start;
    }

    .hero-content p{
        font-size: 1.2rem;
        text-align: start;
    }
    
    .hero-button {
        grid-area: button;
    }

    .hero-img{
        grid-area: image;
        display: flex;
        justify-content: start;
    }
    
    .hero-img img{
        width: 100%;
        max-width: 400px;
    }

    .benefits{
        display: grid;
        grid-template-areas: "title title title"
                             "benefit1 benefit2 benefit3";
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: 3% 0;
    }

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 80px;
        background: var(--footer-bg-color);
    }

    .footer-options {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        flex-direction: row;
    }
}

/* DESKTOP */
@media (min-width: 1024px){
    .hero {
        display: grid;
        grid-template-areas: "content image"
                             "button image";
        gap: 0rem;
        justify-items: start;
        min-height: 50vh;
        padding: 1.5rem 10%;
    }
    
    .hero-content{
        grid-area: content;
    }

    .hero-content h1{
        font-size: 2.5rem;
        text-align: start;
    }

    .hero-content p{
        font-size: 1.2rem;
        text-align: start;
    }
    
    .hero-button {
        grid-area: button;
    }

    .hero-img{
        grid-area: image;
        display: flex;
        justify-content: start;
    }
    
    .hero-img img{
        width: 100%;
        max-width: 400px;
    }

    .benefits{
        display: grid;
        grid-template-areas: "title title title"
                             "benefit1 benefit2 benefit3";
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: 3% 0;
        gap: 1rem;
    }

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 80px;
        background: var(--footer-bg-color);
    }

    .footer-options {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
    }
}